* {
  margin: 0;
  padding: 0;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.todos {
  list-style: none;
  box-shadow: 0 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.9);
  width: 80%;
}

.list-field {
  display: flex;
  align-items: center;
}

.todos li {
  padding: 1.5rem 0.8rem;
  border: solid gray 0.001rem;
}

.static-li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.list-input {
  border: none;
  height: 100%;
  width: 100%;
}

.list-input::placeholder {
  font-size: 1rem;
}

.list-input:focus {
  outline: none;
  font-size: 1rem;
  font-style: italic;
}

.list-label {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 1rem;
}

.clear {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e4e1e1;
  cursor: pointer;
}

.error {
  white-space: nowrap;
}

.redNotice::placeholder {
  color: red;
}

.add-btn {
  border: none;
  background-color: #fff;
}
